* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
}

.navbar {
    height: 10vh;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(68, 176, 248);
}

.navbar ul {
    height: 50%;
    width: 300px;
    margin-top: auto;
    margin-bottom: auto;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    list-style: none;
}

.navbar ul li {
    background-color: gray;
    text-align: center;
}

main {
    height: calc(100vh - calc(10vh + 7vh));
    background-color: rgb(240, 240, 240);
}

footer {
    height: 7vh;
    background-color: rgb(70, 70, 70);
    color: white;
}